@import "src/common/scss/variables";
@import "src/common/scss/mixins";

.Notification-wrapper {
  background-color: $transparent-color;
  border-radius: 15px;
  color: $main-color;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);

  &.Notification-error {
    .Notification-header,.Notification-content {
        color: $error-color;
    }
  }

  .Notification-header {
    font-weight: bold;
  }

  .Notification-content {
    max-height: 80vh;
    padding: 25px;
    border-top: 1px solid $main-color;
    border-bottom: 1px solid $main-color;
    overflow-y: auto;

    @include addDefaultSrollbar();

    .Notification-description {
      text-align: justify;
    }

    @media screen and (min-width: #{map-get($breakpoints-up, 'md')}px) {
      width: 350px;
      min-width: 30vw;
      max-width: 90vw;
      max-height: 100%;
    }
  }

  .Notification-header, .Notification-footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    padding: 10px 25px;

    > * {
      flex: 0 0 auto;
    }
  }

  @media screen and (max-width: #{map-get($breakpoints, 'md')}px) {
    .Notification-content {
      text-align: center;
    }

    @media screen and (max-width: #{map-get($breakpoints, 'sm')}px) {
      width: 90vw;
      max-width: 360px;
      text-align: center;

      .Notification-header, .Notification-content, .Notification-footer {
        width: 100%;
        max-width: 100%;
        min-width: 0;
      }

      .Notification-footer > .btn {
        width: 100%;
      }
    }
  }
}


