@import "src/common/scss/variables";

table.leaderBoard-wrapper {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  margin-top: 15px;

  thead {
    border-bottom: 2px solid $main-color;

    th {
      font-weight: bold;
    }
  }

  th,td {
    border: 1px solid transparent;
    border-left: 2px solid $main-color;
    padding: 8px 4px;
    max-width: 6em;
    color: $main-color;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;

    &:first-child {
      border-left: none;
    }
  }
}