@import "src/common/scss/variables";

.timer-wrapper {
  $timer-part-width: 1.25em;
  $timer-dots-padding: 0.5em;

  color: $white-color;
  padding: 15px;
  background-color: $transparent-color;
  border-bottom-left-radius: 15px;
  position: fixed;
  top: 0;
  right: 0;

  .timer-hours, .timer-minutes, .timer-seconds {
    position: relative;
    display: inline-block;
    text-shadow: 1px 0 1px $main-color;
    line-height: 0.8em;
    font-size: 2em;
  }

  .timer-hours {
    min-width: #{$timer-part-width};
  }

  .timer-minutes, .timer-seconds {
    padding-left: $timer-dots-padding;
    min-width: calc( #{$timer-part-width} + #{$timer-dots-padding} );

    &:before {
      content: ':';
      position: absolute;
      left: 0.1em;
      // fix for line-height ( which is more than font height )
      top: calc( 50% - 0.08em );
      transform: translateY(-50%);
      animation: dotsAnim 1s infinite;
    }
  }

  &.almost-out-of-time {
    .timer-minutes, .timer-seconds {
      &:before {
        color: $error-color;
      }
    }
  }
}

@keyframes dotsAnim {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}