@import "src/common/scss/variables";

.GameField-content .Card-wrapper {
  display: inline-block;
  position: relative;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-top: calc( 100% * 0.75 );
  will-change: transform;
  transform-style: preserve-3d;
  transition: transform 0.5s;
  cursor: pointer;

  @media screen and (min-width: #{map-get($breakpoints-up, 'md')}px){
    padding-top: calc( 50% * 1.25 );
  }

  @media screen and (min-width: #{map-get($breakpoints-up, 'lg')}px){
    padding-top: calc( 33.333% * 1.25 );
  }

  @media screen and (min-width: #{map-get($breakpoints-up, 'xl')}px){
    padding-top: calc( 25% * 1.25 );
  }

  &.flipped {
    transform: rotateY(180deg);

    &.disabled {
      pointer-events: none;

      .Card-back {
        .img-wrapper {
          background-color: lighten( $main-color, 60% );
        }
      }
    }
  }

  .Card-front,.Card-back {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    backface-visibility: hidden;

    .img-wrapper {
      box-shadow: 1px 1px 0 rgba(0, 0, 0, .3);
      border-radius: 10px;
      width: 100%;
      height: 100%;
      background: $main-color center/50% auto no-repeat;
      transition: background-color 0.5s;
      transition-delay: 0.7s;
    }
  }

  .Card-back {
    will-change: transform;
    transform: rotateY(180deg);
  }
}