
.Notification-wrapper.GameField-wrapper {
  .GameField-content {
    // fix growing card height on flip animation
    overflow-x: hidden;
    perspective: 1000px;

    @media screen and (max-width: 1200px) {
      max-height: 95vh;
      width: 80vw;
    }
  }
}