$breakpoints: (
  'xs' : 420,
  'sm' : 576,
  'md' : 768,
  'lg' : 992,
  'xl' : 1200
);
$breakpoints-up: (
  'xs' : map-get($breakpoints, 'xs') + 1,
  'sm' : map-get($breakpoints, 'sm') + 1,
  'md' : map-get($breakpoints, 'md') + 1,
  'lg' : map-get($breakpoints, 'lg') + 1,
  'xl' : map-get($breakpoints, 'xl') + 1
);

$breakpointsLength: length($breakpoints);
$col-width: 100%;
$x-margin: 15px;


$main-color: #282c34;
$white-color: #ffffff;
$error-color: orangered;
$transparent-color: rgba(255,255,255,0.6);
$scrollbar-color: rgba(0,0,0,0.4);

$click-scale-size: 0.97;