@import "grid";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $main-color;

  // normal font-size for all resolutions
  * {
    font-size: 1vw;

    @media screen and (max-width: #{map-get($breakpoints, 'xl')}px) {
      font-size: 1.6vw ;

      @media screen and (max-width: #{map-get($breakpoints, 'md')}px) {
        font-size: 2.5vw;

        @media screen and (orientation: portrait) {
          font-size: 1.5vh;
        }
      }
    }
  }

  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  }
}

.form {
  width: 100%;

  .input-label {
    font-weight: bold;
    margin-top: 10px;

    &.invalid {
      color: $error-color;

      .input {
        border-color: $error-color;
      }
    }

    .input {
      display: inline-block;
      outline: none;
      width: 100%;
      margin-top: 5px;
      padding: 10px 20px;
      border: 1px solid $main-color;
      background-color: $transparent-color;
      color: $main-color;

      &:active,&:focus {
        outline: none;
      }
    }
  }
}

.link-wrapper {
  display: inline-flex;
}

.btn {
  cursor: pointer;
  padding: 10px 20px;
  font-weight: bold;
  background-color: $transparent-color;
  border: 1px solid $main-color;
  color: $main-color;
  text-decoration: none;
}

.animated {
  &.on-click {
    will-change: transform;
    transform: scale(1);

    &:active {
      transform: scale($click-scale-size);
      transition: transform .2s;
    }
  }
}